*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #722910;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic ;
}
.change {
    right: 0;
}
.hamburger {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 35px;
    right: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.8s;
}
.span:active {
    color: #722910;
}
.change .span-1 {
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #722910;
}
.change .span-2 {
    opacity: 0;
}
.change .span-3 {
    transform: rotate(45deg) translate(-8px, -6px);
    background-color: #722910;
}
.nav-list {
    text-align: center;
}
.nav-item {
    list-style: none;
    margin: 50px;
}
.nav-link {
    text-decoration: none;
    font-size: 35px;
    color: #722910;
    font-weight: 600;
    position: relative;
    padding: 3px 0;
}
.nav-link::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #722910;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.nav-link:hover::after {
    transform: scaleX(1);
}
.turkish-coffee{
    width: 330px;
    height: 490px;
    object-fit: cover;
    border-radius: 4%;
    margin: 75px 0 0 150px;
    box-shadow: 5px 10px 40px #101010;
}
.image{
    display: inline-block;
}
.about{
    float: right;
    width: 50%;
    margin: 70px 70px 0 0;
}
.line{
    height: 3px;
    background-color: #ffd09e;
    width: 400px;
    display: block;
    border-radius: 9999px;
}
.coffee-name{
    color: #ffd09e;
    font-size: 60px;
    margin-top: 70px;
}
.text{
    width: 230px;
    margin-top: 35px;
    color: #ffd09e;
    font-weight: 600; font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
.value {
    display: inline-block;
}
button {
    width: 43px;
    height: 25px;
    font-size: 20px;
    background-color: #722910;
    color: #ffd09e;
    border: 1px solid #ffd09e;
    border-radius: 5px;
    cursor: pointer;
}
.first {
    display: inline-block;
    /* height: 30px; */
    text-align: center;
    font-size:25px;
    width: 50px;
    background-color: #ffd09e;
    /* border: none; */
    border-radius: 5px;
    margin: 0 8px;
}
.add {
    display: inline-block;
    margin-left:150px;
}
label {
    display: block;
    color: #ffd09e;
    font-size: 25px;
    font-weight: 600;
}
.promo-code {
    display: block;
    height: 38px;
    width: 220px;
    background-color: #ffd09e;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
.add-btn {
    display: block;
    background-color: #ffd09e;
    color: #722910;
    width: 110px;
    height: 40px;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    font-weight: bold;
}
.add-to-card {
    background-color: #ffd09e;
    color: #722910;
    height: 40px;
    width: 160px;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    font-weight: bold;
}
.a{
    display: flex;
    text-align: center;
    font-size:25px;
    width: 100px;
    display: block;
    background-color: #ffd09e;
    border-radius: 5px;
    border: none;
    margin: 30px 0 0 43px;
}